<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Titles - {{ category }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    {% if session.username == 'admin' %}
    <!-- Admin Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/admin/quiz">لیست کوییز ها</a>
                <a class="nav-item nav-link" href="/admin/quiz/add">افزودن کوییز</a>
                <a class="nav-item nav-link active" href="/quiz">همه ی کوییز ها</a>
                <a class="nav-item nav-link" href="/admin/quiz/history">تاریخچه کوییز ها</a>
                <a class="nav-item nav-link" href="/admin/users">لیست کاربران</a>
                <a class="nav-item nav-link" href="/logout">خروج</a>
            </div>
        </div>
    </nav>
    {% else %}
    <!-- User Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/quiz">لیست کوییز ها</a>
                <a class="nav-item nav-link" href="/quiz/history">تاریخچه کوییز ها</a>
                <a class="nav-item nav-link" href="/profile">پروفایل</a>
                <a class="nav-item nav-link" href="/logout">خروج</a>
            </div>
        </div>
    </nav>
    {% endif %}

<div class="container mt-5">
    <h2>دسته بندی: {{categories}}</h2>
    <form method="POST">
        <ul class="list-group">
            {% for quiz in quizzes %}
            <li class="list-group-item">
                <h5>{{ quiz.question }}</h5>
                <div>
                    {% for option in [quiz.option_1, quiz.option_2, quiz.option_3, quiz.answer] %}
                    <div class="form-group">
                        <label>
                            <input type="radio" name="answer_{{ quiz.id }}" value="{{ option }}" required>
                            {{ option }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary mt-3">ثبت</button>
    </form>

    <a href="{{ url_for('quiz_categories') }}" class="btn btn-secondary mt-3">برگشتن به دسته بندی</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>